<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sean.allergyID">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- get google dependencies if does not contain -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name="com.example.sean.allergyID.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sean.allergyID.EditAllergies"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sean.allergyID.MainActivity" />
        </activity>
        <activity
            android:name="com.example.sean.allergyID.Scanner"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sean.allergyID.MainActivity" />
        </activity>
        <activity
            android:name="com.example.sean.allergyID.Result"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sean.allergyID.MainActivity" />
        </activity>
        <activity
            android:name="com.example.sean.allergyID.ManualSearch"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sean.allergyID.MainActivity" />
        </activity>
        <activity
            android:name="com.example.sean.allergyID.Info"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sean.allergyID.MainActivity" />
        </activity>
        <activity android:name="com.example.sean.allergyID.SplashScreen"
            android:theme= "@style/DarkTheme">
        </activity>
    </application>

</manifest>